@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-base-100: #000000;
  --color-primary: oklch(79.2% 0.209 151.711);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: oklch(79.2% 0.209 151.711) !important;
  font-size: 20px !important;
  font-weight: 900;
  width: 48px;
  height: 48px;
}

.swiper-pagination-bullet-active {
  background-color: oklch(79.2% 0.209 151.711) !important;
}

/* Optional: style the pseudo-elements (arrows) */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important;
  font-weight: 900;
}

.rating :where(input[name="post_rating"]) {
  opacity: 0.5;
}

.rating *:checked,
.rating *[aria-checked="true"],
.rating *[aria-current="true"],
.rating *:has(~ :checked, ~ [aria-checked="true"], ~ [aria-current="true"]) {
  opacity: 1;
}
